/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */
/* 

table.table-bordered{
    border:1px solid blue;
    margin-top:20px;
  } */

body{
  background-color: #A89166 !important;
}

table.table-bordered > tbody > tr > td{
    border:2px solid black;
}

li{
    padding: 2px;   
}

.inp{
  font-family: 'Roboto Slab', serif !important;
}

.dd_style{
  background-color: #927B51 !important;
  color: white !important;
}

.butt{
  font-size: 2em;
  width: 100%;
  margin-top: 80%;
}

.butt1{
  font-size: 2em;
  width: 100%;
  margin-top: 10%;
}

.ship_img{
  /* display: flex; */
  position: absolute;
  /* top: 48px; */
  width: 10em;
}

/* .img_div{
  overflow: visible;
} */